* {
    box-sizing: border-box;
}

.mainTable {
    margin: 30px auto;
    max-width: 500px;

    .header {
      background-color: grey;
      border: 1px solid lightgrey;
      height: 60px;
      color: white;
      padding-left: 20px;
      padding-top: 22px;
      transition: background 1.5s ease;
    }

    .header:hover {
      background: lightgrey;
    }

    .detail {
      max-height: 0px;
      border: 1px solid lightgrey;
      overflow: hidden;
      color: grey;
      font-size: 14px;
      transition: max-height 1.0s ease;
    }

    .detailShow {
      max-height: 180px;
      padding: 10px;
    }
}
